# .gitignore

# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pyz
*.pyzw
*.egg-info/
dist/
build/
*.egg
*.spec

# IDEs
.vscode/
.idea/
*.swp
*.swo
*.swn

# OS
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sql
*.sqlite

# Flask
instance/
.webassets-cache

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/